/* 기본 리셋 */
* {
  margin: 0;
  padding: 0;
    box-sizing: border-box;
}

/* 바디 기본 스타일 */
body {
    width: 1060px;
    height: 1170px;
    flex-shrink: 0;
    background: var(--Gray-6, #F2F2F2);
}

/* 헤더 영역 */
.header {
  text-align: center; 
}

.title {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.nav-menu ul {
    display: flex;
  gap: 60px;
  list-style: none;
  margin: 28px 343px  28px 345px;
}

.nav-menu li:first-of-type a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    
  }
.nav-menu li a {
  text-decoration: none;
  color: #828282;
  
}



/* 영화 리스트 영역 */
.movie-list {
  display: grid;
    grid-template-columns: repeat(4, 1fr); /* 5개의 열로 나누기 */
    grid-template-rows: repeat(2, 1fr); /* 2개의 행으로 나누기 */
    margin: 0 auto;
    padding: 20px;
    max-width: 1060px;
    gap: 23px;
    flex-shrink: 0;
    background: #FFF;
    border:1px solid #E0E0E0;
    border-radius: 10px;
}

/* 영화 카드 */
.movie-card {
    display: flex;
    flex-direction: column;
    position: relative;
    gap:5px;
    width: 220px;
    height: 441px;
    flex-shrink: 0;
    fill: #FFF;
  background-color: #fff;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 1);
  overflow: hidden;
}

.poster {
    width: 180px;
    height: 250px;
    flex-shrink: 0;
    border-radius: 10px;
}

.movie-title {
    color: #000;
    font-family: "Noto Sans KR";
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    grid-area: movie-title;
    margin-bottom: 12px;
}
.movie-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.info-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.gray-title {
    color: var(--Gray-3, #828282);
    font-family: "Noto Sans KR";
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.info-row > span:not(.gray-title) {
    color: #000;
    font-family: "Noto Sans KR";
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.btn-group {
    display: flex;
    flex-direction: row;
    gap: 20px;
    text-align: center;
  margin-top: 10px;
  justify-content: center;
  text-align: center;
flex-shrink: 0;
background: var(--Gray-6, #F2F2F2);
margin-top: auto;
position: absolute;
bottom: 0;
left: 0;
right: 0;
height: 41px;
}

.btn {
    color: black;
font-family: "Noto Sans KR";
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
  border: none;
    height: 100%; /* 부모 요소의 높이에 맞춤 */
    display: flex;
    align-items: center; /* 수직 정렬 */
    justify-content: center;
    
}

.first{
    margin-left:30px;
}
.btn img {
    margin-right: 5px; /* 아이콘과 텍스트 사이 간격 */
}